{% extends 'nota/base/base.html' %}
{% block content %}
    <div class="bg-red-400 text-white fixed top-28 right-10 border border-black p-3 rounded-md z-50">
    <span class="text-label"> Total Gasto
    </span>
        <span class="label strong">
            R$
        {{ total }}
        </span>

    </div>
    <h1>Lista de Notas</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 justify-center border rounded-lg m-4 sm:m-10">
        {% for nota in dados.values %}
            <ul class="flex justify-center">
                <div class="card container w-[30rem] md:w-[20rem] m-10 border-2 m-6 p-6">
                    <a href="{% url 'info_gasto' nota.id %}">

                        <li>
                            <strong>Nota:</strong> {{ nota.name }}<br>
                            <strong>Descrição:</strong> {{ nota.description }}<br>
                            <strong>Valor: </strong>R${{ nota.value }}<br>
                            <strong>Data:</strong> {{ nota.datetime }}<br>
                            <strong>Categoria:</strong>
                            {% if nota.category_id %}
                                {{ nota.category_id.name }}
                            {% else %}
                                Sem categoria
                            {% endif %}
                        </li>
                    </a>
                </div>
            </ul>

        {% endfor %}

        <a href="{% url 'novo_gasto' %}" class=" w-16 h-16 btn btn-circle bg-blue-600 fixed bottom-10 right-10 z-50 ">
            <p class="text-white text-center">+</p>
        </a>
    </div>
{% endblock %}


