{% extends 'nota/base/base.html' %}

{% block content %}
    <h1 class="flex justify-center"> Tela de Detalhes</h1>
    <div class="card bg-slate-200 grid grid-cols-1 gap-5 justify-center border rounded-lg m-6 p-4 sm:m-10">
        <label class="form-control">
            <span class="label-text">Nome do Gasto: </span>
            <span>{{ nota.name }} </span>
        </label>

        <label class="form-control">
            <span class="label-text">Descrição do Gasto: </span>
            <span class="textarea h-20">{{ nota.description }} </span>
        </label>

        <label class="form-control">
            <span class="label-text">Valor: </span>
            <span>{{ nota.value }} </span>
        </label>
        
        <label class="form-control">
            <span class="label-text">Dia da Compra: </span>
            <span>{{ nota.datetime }} </span>
        </label>
        
        <label class="form-control">
            <span class="label-text">Categoria: </span>
            <span>{{ nota.category }} </span>
        </label>
    
    <div class="grid grid-cols-2 gap-4">
        <a href="{% url 'update_gasto' nota.id %}" class="btn btn-warning">Editar</a>
        <a href="{% url 'delete_gasto' nota.id %}" class="btn btn-error">Deletar</a>
    </div>
    <a href="{% url 'home' %}" class="btn btn-success"> Voltar</a>

    </div>


{% endblock %}