{% extends 'nota/base/base.html' %}
{% block content %}
    <div class="bg-slate-300 p-6 border border-black rounded-md m-6 ">
        <form method="post">
            {% csrf_token %}
            <div class=" grid gap-6 justify-center">
            {{ form }}

            

                <label class="justify-center form-control">
                    <button class="btn bg-success text-white" type="submit"> Salvar</button>
                </label>
                <label class="justify-center form-control">
                    <a href="{% url 'home' %}" class="btn bg-info text-white" type="submit">Voltar</a>
                </label>
            </div>
        </form>
    </div>
{% endblock %}
